.tbox_drink {
    font-weight: bold;
    width: 4em;
    text-align: end;
    height: 26px;
    padding-bottom: 0;
}

.fw-500 {
    font-weight: 400;
}

.td_drink {
    width: 1%;
}

td {
    vertical-align: bottom;
}

.td_id {
    background: bisque !important;
}

.pl-1 {
    padding-left: 0.25rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.delete_score {
    color: red;
}

.w-btn {
    min-width: 140px;
}

.w-20per {
    width: 20%;
}


.bdr-r-w-0 {
    border-right-width: 0px !important;
}

.bdr-l-w-0 {
    border-left-width: 0px !important;
}

.btn_back {
    position: fixed;
    float: left;
    top: 10px;
    font-size: 32px;
    opacity: 0.5;
}

.circle_loop{
    float: left;
    color: rgb(173, 173, 30);
    margin-top: 0.25rem;
    border: 0.5px;
}
.circle_loop.on{
    animation: circle 1s linear infinite;
    color: green;
    font-weight: bold;
}

@keyframes circle{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}